ul.options>li {
    font-size: 1.5vw;
    color: #ffffff;
    border-radius: 10.7px;
    background-color: #000;
    cursor: pointer;
    text-align: right;
    margin-bottom: 1%;
    margin-top: 2%;
    color: white;
    font-family: Assistant-light;
    font-weight: 300;
    opacity: 0.52;
    transition: all 0.2s;
}

.options {
    padding-right: 0;
}

.question {
    font-size: 2.2vw;
    line-height: 4vw;
    margin: 2% 0;
    font-family: Assistant-Regular;
    color: #faffff;
}

.list-no-bullets {
    list-style: none;
}