ul.options>li {
    cursor: pointer;
    padding: 8px 10px;
    color: #ffffff;
    border-radius: 10.7px;
    background-color: #000;
    text-align: right;
    margin-bottom: 1%;
    margin-top: 2%;
    color: white;
    font-family: Assistant-light;
    font-weight: 300;
    opacity: 0.52;
    transition: all 0.2s;
}

.options {
    padding-right: 0;
}

.answer-option-label{
    cursor: pointer;
    font-weight: 400;
}

.question {
    margin: 2% 0;
    font-family: Assistant-Regular;
    color: #faffff;
}

.list-no-bullets {
    list-style: none;
}

ul.options>li:hover {
    background-color: rgba(0, 255, 170, 0.541);
    color:black;
}
// .answer-option-label:hover{
//     color: black;
// }